.Icon{
    border-radius: 50%;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.Dropdownicon{
    width: 20px;
    height: fit-content;
    margin-right: 15%;
}
 